.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  background-color: black;
  color: #ffffff;
  height: 53px;
  font-size: 19px;

}

.left-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  background-color: black;
  color: #ffffff;
}

.logo {
  height: 65px;
  width: 100px;
  padding-right: 50px;
  color: #ffffff;
  
}

.img_l {

  max-width: 100%;
  height: auto;
}

.about {
  display: inline-block;
  white-space: nowrap;
  padding-right: 35px;
  padding-right: 50px;
  color: #ffffff;
}

.academics {
  display: inline-block;
  white-space: nowrap;
  padding-right: 35px;
  padding-right: 50px;
  color: #ffffff;
}

.settings {
  display: inline-block;
  white-space: nowrap;
  padding-right: 35px;
  padding-right: 50px;
  color: #ffffff;
}

.contact {
  display: inline-block;
  white-space: nowrap;
  padding-right: 35px;
  color: #ffffff;
}

.right-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: end;
  background-color: balck;
  color: #ffffff;
}

.login {
  width: 75px;
  color: #ffffff;
}

.register {
  width: 75px;
  color: #ffffff;
  padding-right: 20px;
}

.settings ul {
  list-style-type: none;
}

.settings li a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0
}

.sub-menu-1 {
  display: none;
}

.settings:hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 15px;
}

.sub-menu-1 ul li {
  margin-bottom: 7px;
}